/node_modules
/public/hot
/public/apis
/public/docs
/public/api/docs/index.php
/public/storage
/public/css
/public/js
/public/tradingview
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
sftp-config.json
public/mix-manifest.json
public/mix.js
.DS_Store
credentials/authorized_tokens.json
laravel-echo-server.json
dump\.rdb
.vscode/*
.rnd
/mysql
.history/
sites/sotatek-exchange-api/